@import 'frontend/assets/scss/_main';
@import 'frontend/assets/scss/_colors';
@import 'frontend/assets/scss/_helpers';

.container {
	padding: $main_standardSpace * 2 $main_standardSpace * 3;
	padding-left: $main_standardSpace * 4;
	user-select: none;
	position: relative;
	display: block;
	margin-top: -1px;

	&.mobile {
		padding: $main_standardSpace * 1.5;
		background: #fff; //match SBO

		.carousel {
			overflow: visible;
		}

		.title {
			font-size: $main_fontSize;
			margin-bottom: $main_standardSpace * 1.5;
		}

		.carouselContainer {
			padding: $main_standardSpace/2;

			.carouselContainerClass {
				padding: 0px;
			}
		}

		.gameThumbnail {
			padding: $main_standardSpace $main_standardSpace/1.5;
		}

		.icon {
			margin-bottom: -5px;
			font-size: $main_fontSize + 6px;
		}
	}
}

.carouselContainer {
	padding: 0px $main_standardSpace * 4;
	padding-right: $main_standardSpace * 3;
}

.carousel {
	position: relative;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;

	&:hover {
		.leftArrow,
		.rightArrow {
			opacity: 1;
		}
	}

	.carouselContent {
		display: block;
		margin-left: -$main_standardSpace;
		margin-right: -$main_standardSpace;
		margin-top: 0px;
		margin-bottom: -$main_standardSpace;
	}

	.carouselContainerClass {
		padding-top: $main_standardSpace;
	}
}

.gameThumbnail {
	width: 100%;
	padding: $main_standardSpace;
}

.title {
	color: $colors_sDark;
	font-size: $main_fontSize + 3px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: $main_standardSpace;
	position: relative;

	.icon {
		margin-bottom: -6px;
		margin-right: $main_standardSpace;
	}
}

.leftArrow,
.rightArrow {
	opacity: 0;
	position: absolute;
	padding: $main_standardSpace * 3.5;
	transition: all $main_transition;

	.movingArrowContainer {
		@include helpers_vCenter;

		.movingArrow {
			position: relative;
		}
	}

	.movingArrow {
		margin-top: -10px;
	}
}

.leftArrow {
	border-radius: 10px 0px 0px 10px;
	left: $main_standardSpace;
	top: $main_standardSpace * 2;
	bottom: $main_standardSpace;
	background: linear-gradient(
		90deg,
		rgba($colors_sYellow, 0.4) 0%,
		rgba($colors_sYellow, 0.3) 66%,
		rgba($colors_sYellow, 0) 100%
	);
}

.rightArrow {
	border-radius: 0px 10px 10px 0px;
	right: $main_standardSpace;
	top: $main_standardSpace * 2;
	bottom: $main_standardSpace;
	background: linear-gradient(
		270deg,
		rgba($colors_sYellow, 0.4) 0%,
		rgba($colors_sYellow, 0.3) 66%,
		rgba($colors_sYellow, 0) 100%
	);
}

.arrowSign {
	float: right;
	position: relative;
	padding-right: $main_standardSpace * 1.5;
	padding-top: $main_standardSpace/2;

	&::after {
		content: '';
		position: relative;
		display: block;
		clear: both;
	}

	.arrowContainer {
		position: relative;
		width: 20px;
		height: 20px;
		float: left;
	}

	.arrow {
		position: relative;
	}

	svg {
		color: $colors_secondary !important;
		font-size: $main_fontSize - 5px;
	}
}

:export {
	main_superLargeDesktop: $main_maxWidth;
	main_superLargeDesktopLow: $main_bigDesktop + 1;
	main_desktop: $main_bigDesktop;
	main_desktopLow: $main_tablet + 1;
	main_tablet: $main_tablet;
	main_tabletLow: $main_mobile + 1;
	main_mobile: $main_mobile;
	main_mobileLow: 0;
}
