@import 'frontend/assets/scss/_main';
@import 'frontend/assets/scss/_colors';
@import 'frontend/assets/scss/_helpers';

.accountBalanceText {
	@include helpers_amountBox();
}

.error {
	padding: 0px $main_standardSpace;
}

.loader {
	padding: 0px;

	span {
		margin: 0px;
	}
}

.spinner {
	height: 30px;
	width: 30px;
	padding: $main_standardSpace;
	margin-left: -calc($main_standardSpace/2);
}

.alertIcon {
	padding: 0px !important;
}

.alertMessage {
	padding: 3px 0px !important;
}

:export {
	main_minWidth: $main_minWidth;
}
