@import 'frontend/assets/scss/_main';
@import 'frontend/assets/scss/_helpers';
@import 'frontend/assets/scss/_mainLayoutDesktop';

$gameRulesPadding: $main_standardSpace * 3;

.gameRules {
	padding: $main_standardSpace * 3;
	padding-top: $main_standardSpace * 5;
	width: 100%;
	max-width: 1000px + $gameRulesPadding * 2;
	margin: 0 auto;

	@media screen and (max-width: $main_bigDesktop) {
		padding-top: $main_standardSpace * 3;
	}

	.gamingRules {
		padding: $main_standardSpace * 3;
		position: relative;
		text-align: left;
		box-shadow: 0px 4px 4px $colors_pDark;
		width: 100%;
		min-height: calc(100vh - ($mainLayoutDesktop_footerHeightASI + $main_headerHeight + $main_standardSpace * 2));
		@include colors_pLight;
		border-radius: $main_radius;

		h3 {
			margin: 0;
			padding: 0 0 $main_standardSpace * 2;
		}

		.content {
			font-size: $main_fontSize;
		}
	}
}
