@import 'frontend/assets/scss/_main';
@import 'frontend/assets/scss/_helpers';

.mainBanner {
	position: relative;

	.bannerContainer {
		position: relative;
		z-index: 3;

		.bsiBannerBackground {
			bottom: 0px;
			width: 100%;
			background-color: unset !important;
		}

		img {
			width: 100%;
			height: 100%;
			top: 0px;
			transform: unset;
			left: 0;
		}

		.bsiBanner {
			@include helpers_hCenter(absolute);
			width: max-content;
			height: 100%;
			background-color: unset !important;
		}
	}
}
